---
import { getCollection } from "astro:content";
import PageHeader from "@/components/elements/PageHeader.astro";
import BlogSection from "@/components/sections/BlogSection.astro";
import Layout from "@/layouts/Layout.astro";

export const POSTS_PER_PAGE = 6;

export async function getStaticPaths() {
	const allPosts = await getCollection("post");

	let posts = allPosts.sort(
		(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
	);

	const featuredPost = posts.find((post) => post.data.featured);
	if (featuredPost) {
		posts = posts.filter((post) => post.data.featured !== true);
	}

	const totalPages = Math.ceil(posts.length / POSTS_PER_PAGE);

	return Array.from({ length: totalPages }, (_, i) => {
		const page = i + 1;
		return {
			params: { page: page.toString() },
			props: { page: page.toString() },
		};
	});
}

const { page } = Astro.props;
const currentPage = Number.parseInt(page);
---

<Layout title="Blog — Rothr" description="Latest articles, updates, and insights from the Rothr team.">
  <section class="relative z-20 container mx-auto my-12 px-7 lg:px-0">
    <PageHeader
      title="Blog"
      description="Latest articles, updates, and insights from Rothr."
    />
  </section>
  <section class="relative z-20 mx-auto my-12 px-7 lg:px-0">
    <div class="mt-12">
      <BlogSection
        title="All Articles"
        listPage={true}
        pagination={{
          enable: true,
          currentPage: currentPage
        }}
        postsPerPage={POSTS_PER_PAGE}
      />
    </div>
  </section>
</Layout>
